<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="${title} ?: 'Ciclo Huracán'">Ciclo Huracán</title>
  <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
  <div class="row vh-100">
    <div class="col-lg-6 d-flex justify-content-center align-items-center" style="background-color: black; color: white;">

       <img th:src="@{/images/login-image.png}"
            alt="Logo" class="img-fluid"
            style="max-height: 100%; width: auto;">

    </div>

    <div class="col-lg-6 d-flex justify-content-center align-items-center">
      <div class="card p-4 shadow w-100" style="margin: 50px 100px;">
        <h2 class="text-center">Ciclo Huracán</h2>
        <h3 class="text-center">Ingreso</h3>
        <form th:action="@{/perform_login}" method="post">
          <div class="mb-3">
            <label for="username" class="form-label">Correo Electrónico</label>
            <input id = "username" type="text" name="username" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input id = "password" type="password" name="password" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-dark w-100">Ingresar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/js/plugin/sweetalert2/sweetalert2.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const params = new URLSearchParams(window.location.search);
    if (params.get('error') === 'true') {

      Swal.fire({
        icon: "error",
        title: "Error de autenticación",
        text: "Usuario o contraseña incorrectos.",
        confirmButtonText: "Intentar de nuevo",
        confirmButtonColor: "black",
      });

    }
  });
</script>
</body>
</html>

