<th:block th:fragment="content">
  <div id="productFormContainer" class="col-12 col-lg-8 col-xxl-9">
    <div class="card flex-fill">
      <div class="card-header">
        <h5 class="card-title mb-0">Producto</h5>
      </div>
      <div class="card-body">
        <form id="productForm">
          <input type="hidden" id="id" name="id">

          <div class="mb-3">
            <label for="name" class="form-label">Nombre del Producto</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea class="form-control" id="description" name="description"></textarea>
          </div>

          <div class="mb-3">
            <label for="price" class="form-label">Precio</label>
            <input type="number" class="form-control" id="price" name="price" step="0.01" required>
          </div>

          <div class="mb-3">
            <label for="stock" class="form-label">Stock</label>
            <input type="number" class="form-control" id="stock" name="stock" required>
          </div>

          <div class="mb-3">
            <label for="category" class="form-label">Categoría</label>
            <input type="text" class="form-control" id="category" name="category" required>
          </div>

          <button type="submit" class="btn btn-primary">Guardar Producto</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-12 mt-4">
    <div class="card">
      <div class="card-header">
        <div class="col-12 mt-4">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">Lista de Productos</h5>
            <button type="button" class="btn btn-primary" id="addProductBtn"
                    onclick="showProductFormContainer();">Agregar Producto
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Actualizar</th>
            <th>Eliminar</th>
          </tr>
          </thead>
          <tbody id="productTableBody">
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script th:src="@{/js/pages/product.js}"></script>
</th:block>
