<th:block th:fragment="content">

  <div class="col-12 mt-4" id ="supplierTableContainer">
    <div class="card">
      <div class="card-header">
        <div class="col-12 mt-4">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">Lista de Proveedores</h5>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Correo Electrónico</th>
              <th class="text-center">Facturación</th>
            </tr>
            </thead>
            <tbody id="supplierTableBody">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 mt-4" id ="supplierPurchaseProductsTableContainer" style="display: none;">
    <div class="card">
      <div class="card-header">
        <div class="row mt-4">
          <div class="col-md-6 d-flex align-items-center">
            <h5 class="card-title mb-0">Productos por Comprar</h5>
          </div>
          <div class="col-md-6 d-flex justify-content-end align-items-center gap-2">
            <button type="button" class="btn btn-dark" id="addProductBtn"
                    onclick="showProductTableContainer();">Agregar Producto</button>
            <button class="btn btn-dark" onclick="executePurchase()">Finalizar Compra</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Total</th>
              <th class="text-center">Borrar</th>
            </tr>
            </thead>
            <tbody id="supplierPurchaseProductsTableBody">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 mt-4" id ="productTableContainer" style="display: none;">
    <div class="card">
      <div class="card-header">
        <div class="col-12 mt-4">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">Lista de Productos</h5>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Stock</th>
              <th class="text-center">Agregar</th>
            </tr>
            </thead>
            <tbody id="productTableBody">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div id="purchaseSummaryFormContainer" class="col-12" style="display: none;">
    <div class="card flex-fill">
      <div class="card-header">
        <h5 class="card-title mb-0">Resumen de Compra</h5>
      </div>

      <div class="card-body">
        <form id="purchaseSummaryForm">

          <div class="mb-3">
            <label for="supplierName" class="form-label">Nombre del Cliente</label>
            <input type="text" class="form-control" id="supplierName" name="supplierName" disabled>
          </div>

          <div class="mb-3">
            <label for="totalAmount" class="form-label">Monto Total</label>
            <input type="text" class="form-control" id="totalAmount" name="totalAmount" disabled>
          </div>

          <div class="mb-3">
            <label for="paidDate" class="form-label">Fecha de Pago</label>
            <input type="text" class="form-control" id="paidDate" name="paidDate" disabled>
          </div>

        </form>
      </div>

    </div>
  </div>

  <script th:src="@{/js/pages/purchase.js}"></script>

</th:block>